<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./normalize.css">
    <style>
        .btn-square-pop {
            position: relative;
            display: inline-block;
            padding: 0.25em 0.5em;
            text-decoration: none;
            color: #FFF;
            background: #fd9535;
            border-bottom: solid 2px #d27d00;
            border-radius: 4px;
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
            font-weight: bold;
        }

        .btn-square-pop:active {
            border-bottom: solid 2px #fd9535;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
        }
    </style>
    <script src="./vue.js"></script>
    <title>BGBL</title>
</head>
<body>
<div id="app">
    <div v-if="isMaster" style="text-align:left; margin-top: 20px;">
        <a v-on:click="addUser" style="font-size: 1.5em; font-family: sans-serif;" href="#" class="btn-square-pop">添加玩家</a>
        <a v-on:click="shuffle" style="font-size: 1.5em; font-family: sans-serif;" href="#" class="btn-square-pop">洗牌</a>
    </div>
    <div style="margin-top: 100px; display: flex; flex-wrap: wrap;">
        <div v-for="u in users">
            <div v-if="!u.show">
                <p v-if="u.user_name == user || isMaster" style="text-align: center; font-size: 1.2em; color: gray; font-family: sans-serif; font-weight: bold"> {{ u.card_number }} </p>
                <p v-if="!(u.user_name == user || isMaster)" style="text-align: center; font-size: 1.2em; color: rgba(255, 255, 255, 0); font-family: sans-serif; font-weight: bold"> 0 </p>
                <div style="margin: 0; padding: 0; width: 200px; height: 200px;">
                    <img v-on:click="openCard(u.user_name)" src="0.png" alt="" style="width: 200px; height:200px">
                </div>
                <p style="margin: 5px; background-color: lightblue; color: white; font-size: 1.2em; font-family: sans-serif; font-weight: bold; text-align: center; display: block; border-radius: 100vh;">{{ u.user_name }}</p>
            </div>
            <div v-if="u.show">
                <p v-if="u.user_name == user || isMaster" style="text-align: center; font-size: 1.2em; color: gray; font-family: sans-serif; font-weight: bold"> {{ u.card_number }} </p>
                <p v-if="!(u.user_name == user || isMaster)" style="text-align: center; font-size: 1.2em; color: rgba(255, 255, 255, 0); font-family: sans-serif; font-weight: bold"> 0 </p>
                <div v-on:click="closeCard(u.user_name)" style="margin: 0; padding: 0; width: 200px; height: 200px; position: relative;">
                    <img src="1.png" alt="" style="width: 200px; height:200px">
                    <p v-if="u.card_number >= 10" style="position: absolute; top: 35px; left: 35px; font-size: 7em; font-family: sans-serif; font-weight: bold; margin: 0; padding: 0; color: #2B6EA1">{{ u.card_number }}</p>
                    <p v-if="u.card_number < 10" style="position: absolute; top: 35px; left: 70px; font-size: 7em; font-family: sans-serif; font-weight: bold; margin: 0; padding: 0; color: #2B6EA1">{{ u.card_number }}</p>
                </div>
                <p style="margin: 5px; background-color: lightblue; color: white; font-size: 1.2em; font-family: sans-serif; font-weight: bold; text-align: center; display: block; border-radius: 100vh;">{{ u.user_name }}</p>
            </div>
        </div>
    </div>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            isMaster: false,
            user: null,
            room: null,
            users: null
        },
        mounted: function () {
            this.user = this.getParam('user');
            this.room = this.getParam('room-id');
            console.log(`user: ${this.user}`);
            console.log(`room: ${this.room}`);

            setInterval(() => {
                if (this.user == null || this.room == null) {
                    return null;
                }
                fetch('http://127.0.0.1:1190/bgbl/api/v1/game/info', {
                    method: 'POST',
                    headers: {'content-type': 'application/json'},
                    body: JSON.stringify({room_id: this.room})
                }).then((res) => {
                    return res.json();
                }).then((data) => {
                    this.users = data.users;
                    console.log(this.getMyInfo());
                    this.isMaster = this.getMyInfo().master;
                });
            }, 500);
        },
        methods: {
            getParam: function (name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                let regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            },
            addUser: function () {
                let newUser = window.prompt('请输入玩家名称');
                fetch('http://127.0.0.1:1190/bgbl/api/v1/game/add', {
                    method: 'POST',
                    headers: {'content-type': 'application/json'},
                    body: JSON.stringify({room_id: this.room, user_name: newUser})
                }).then((res) => {
                    if (res.status >= 200 && res.status < 300) {
                        // alert('添加玩家成功');
                        alert(`http://127.0.0.1:1190/game.html?room-id=${this.room}&user=${newUser}`)
                    } else {
                        alert('添加玩家失败');
                    }
                })
            },
            getMyInfo: function () {
                for (let user of this.users) {
                    if (user.user_name === this.user) {
                        return user;
                    }
                }
                return null;
            },
            shuffle: function () {
                fetch('http://127.0.0.1:1190/bgbl/api/v1/game/shuffle', {
                    method: 'POST',
                    headers: {'content-type': 'application/json'},
                    body: JSON.stringify({room_id: this.room})
                }).then((res) => {
                    if (res.status >= 200 && res.status < 300) {
                        // alert('洗牌成功');
                    } else {
                        alert('洗牌失败');
                    }
                })
            },
            openCard: function (name) {
                if (!this.isMaster) {
                    return null;
                }
                fetch('http://127.0.0.1:1190/bgbl/api/v1/game/open', {
                    method: 'POST',
                    headers: {'content-type': 'application/json'},
                    body: JSON.stringify({room_id: this.room, user_name: name})
                }).then((res) => {
                    if (res.status >= 200 && res.status < 300) {
                        // alert('翻牌成功');
                    } else {
                        alert('翻牌失败');
                    }
                })
            },
            closeCard: function (name) {
                if (!this.isMaster) {
                    return null;
                }
                fetch('http://127.0.0.1:1190/bgbl/api/v1/game/close', {
                    method: 'POST',
                    headers: {'content-type': 'application/json'},
                    body: JSON.stringify({room_id: this.room, user_name: name})
                }).then((res) => {
                    if (res.status >= 200 && res.status < 300) {
                        // alert('翻牌成功');
                    } else {
                        alert('翻牌失败');
                    }
                })
            }
        }
    })
</script>
</body>
</html>